<div class="container">
<div id="playlist">
	<h3> About <%= @playlist.name %> playlist </h3>
	<span> Number of tracks: <%= @playlist.songs.count %> </span>
	<ul class ="list-group">
		<% @playlist.songs.each do |song| %>
			<li class="list-group-item list-group-item-action"> 
				<h4><b>"<%= song.name %>" by <%= song.artist.name %></b> </h4>
				<ul>
					<li> About the track: 
						 <%= song.view_summary %></li> <br>
					<li>  About <%= song.artist.name %>: 
						<br> 
						<img src="<%= song.artist.image %>"> <br>
						<%= song.artist.view_summary %></li>
					<li>  About the album: 
						<br>
						<img src="<%= song.album.image %>"><br>
						<%= song.album.name %> <br>
						<%= song.album.view_summary %>
						<br>
					</li></li><br>
				</ul>
		<% end %>
	</ul>
</div>	