<h1>you are here</h1>


<div id="playlist">
	<h3> About <%= @playlist.name %> playlist </h3>
	<p> Number of tracks: <%= @playlist.songs.count %>
	<ol>
		<% @playlist.songs.each do |song| %>
			<li> <%= song.name %> by <%= song.artist.name %></li>
				<ul>
					<li> About the track: 
						 <%= song.summary %></li> <br>
					<li>  About the artist: <%= song.artist.summary %></li><br>
					<li>  About the album: 
						<%= song.album.name %> <br>
						<%= song.album.summary %>
					</li>
				</ul>
		<% end %>
	</ol>
</div>	